body {
	line-height: 1.6;
	color: black;
}

a {
	color: #fff;
	text-decoration: none;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	margin: 0;
	text-align: center;
	font-family:sans-serif;
}

/* ---- Layout Containers ---- */

.wrapper {
	width: 70%;
	margin: 0 auto;
}

.main-header {
	background:blue;
	padding: 10px;
	margin: 15px;
	text-align: center;
}

.main-footer {
	padding: 2em 0;
	background: #d9e4ea;

}

/* ---- Page Elements ---- */
 .main-nav li{
	 display:inline-block;
	 width: auto;
	 padding:40px;

}

.main-nav  {
  display: inline-block;
 padding:10px;
 margin:10px;

}
