body {
	line-height: 1.6;
	color: white;
	background-color: orange;
}

a {
	color: #fff;
	text-decoration: none;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	margin: 0;
	text-align: center;
	font-family:fantasy;
}

/* ---- Layout Containers ---- */

.wrapper {
	width: 100%;
	hight:20%;
	margin:15%;
}

.main-header {
	background:black;
	padding: 10px;
	margin: 15px;
	text-align: center;
}

.main-footer {
	padding: 2em 0;
	background:black;
	text-decoration-color: white;



}

/* ---- Page Elements ---- */
 .main-nav li{
	 display:inline-block;
	 width: auto;
	 padding:40px;

}

.main-nav  {
  display: inline-block;
 padding:10px;
 margin:10px;

}
/*************************
Media Queries
*************************/

@media only screen and (min-width: 480px) {

  main-nav {
    float: left;
    width: 30%;
    margin: 0 0 0 5%;
    padding: 25px 1%;
    margin-bottom: 0;
  }

  main-nav li:Kart County a {
    margin-left: 0;
  }

  main-nav li:Bar&Grill a {
    margin-right: 0;
  }

}

@media only screen and (min-width: 768px),
       only screen and (min-width: 700px) and (orientation: landscape) {

  title {
    float: left;
    font-size: 1.4em;
  }

  main-nav {
    float: right;
    width: 60%;
  }

  main-nav a {
    padding: 15px 1%;
  }

  .main article {
    float: left;
    width: 57%;
  }

  .main aside {
    float: right;
    width: 38%;
  }

}

@media only screen and (min-width: 1140px) {

  .wrapper {
    width: 1026px;
    margin: 0 auto;
  }

  .title {
    font-size: 2em;
  }

  main-nav a {
    padding: 25px 1%;
  }

}



}
