Body{
    Background-color:white;

}
h1
{
    color:white;
    text-align: center; font-family: fantasy;


}
h2{ color:white; text-align: center;


}

h3{color:white;text-align: center; font-family: fantasy;

}
P{ color:white;
    text-align: center;
font-size: 17px;
font-family: fantasy
}

.image1 {text-align: center; padding: ;

}


ul{ text-align: center;
    color:black;


}
.wrapper{width: 1170px;
    margin:0 auto;

}

header{
    height:110px;
    background:black;
    width: 100%;
    text-family:cursive

 position:fixed;
}


   .navbar{
       display: flex;
       justify-content: space-around;
       align-items: center; min-height: 8vh;


   }

   .link2{color: black;

   }

  .logo{text-align: left;color: white; font-family:fantasy; font-size: 20;
  }



    body{background-image: url(astronaut-1784245_1920.jpg);
